/* Footer */
footer {
	width: 100%;
	height: 222px;
	background-color: #72c1fe;
}

/* footer logo */
.foot_logo {
	float: left;
	margin: 82px 0 0 350px;
	width: 120px;
	height: auto;
}

.foot_logo>a {
	width: 100%;
	height: 100%;
}

.foot_logo img {
	width: 100%;
	height: 100%;
}

.foot_info {
	float: left;
	margin: 73px 0 0 150px;
}

.foot_info {
	width: auto;
	height: 30px;
}

.foot_info p {
	line-height: 25px;
	font-size: 15px;
}

.foot_info p a {
	font-weight: bold;
}

.foot_sns {
	float: left;
}