html,body,#web_container{
	width:100%;
	height:100%;
}
#header{
	height:30%;
}
#content{
	min-height:100%;
}
ul li {
	list-style:none;
	margin:0; padding:0;
	}
.clearfix:after{
	content:'';
	display:block; 
	clear:both;
	font-size: 25px;
	}
	

#test_id {	
	margin-top:20px;
	background:linear-gradient(white 50px, rgba(255,255,255,0.5) 50px, rgba(255,255,255,0.5) );
	height:100px; 
	overflow:hidden;
}
#test{
	border : 1px solid black;
	height: 50px;
}
nav {
	width: 80%;
	margin:0 auto;
	border: 1px solid black;
	cursor: pointer;
}
nav > ul > li {
	float:left; 
	line-height:50px; 
	margin-right:40px; 
	border: 1px solid black;
	font-size:25px;
	left:80px;
}
nav > ul > li ul{ 
	width:100%;
	 display: none; 
	 position: absolute; 
	 border: 1px solid black;
	 padding : 0;
}
nav:hover > ul > li ul{
	display : block;
	font-size:15px;
}
.clearfix li{
	position: relative;
}
#com_logo{
	float:left;
	height:98px;
	left:20%;
	width:10%;
	border: 1px solid black;
	position:relative;
}
#nav-var{
	float:left;
	width:60%;
	right:-30%;
	height:100%;
	position:relative;
}