@charset "UTF-8";

@font-face {
	font-family: 'Cafe24Ohsquare';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	color: #333;
}

body {
	width: 100%;
	overflow-x: hidden;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h2 {
	margin-bottom: 50px;
	font-family: Cafe24Ohsquare;
	font-size: 30px;
	text-align: center;
}



/* 광고 */
.viewBox {
	position: relative;
	left: 0;
	width: 100%;
	height: auto;
}

.imgBox {
	margin-bottom: 20px;
	overflow: hidden;
	height: auto;
}

.viewBox>ul>li {
	width: 100%;
	height: auto;
}

.viewBox>ul>li>img {
	width: 100%;
	height: auto;
}

.bx-wrapper {
	position: initial !important;
	max-width: 100% !important;
}

.bx-wrapper, .bx-viewport, .bx-wrapper {
	border: 0 !important;
	margin: 0;
	padding: 0;
	width: 100%;
}

.bx-wrapper .bx-controls-direction a.bx-prev {
	left: 50px;
	z-index: 8888 !important;
}

.bx-wrapper .bx-controls-direction a.bx-next {
	right: 50px;
	z-index: 8888 !important;
}




/* 뉴스 미리보기 */
section.newsBox {
	position: relative;
	margin: 300px 0 200px 0;
	width: 100%;
	height: 672px;
}

section h2 {
	width: 100%;
	height: 33px;
}

.container_news {
	margin: auto;
	overflow: hidden;
	width: 1220px;
	height: 630px;
}

.wrapper {
	width: 300%;
	height: 100%;
}

.slide {
	float: left;
	width: 1220px;
	height: 100%;
}

#button-prev {
	position: absolute;
	top: 50%;
	left: 250px;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background: #111;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}

#button-next {
	position: absolute;
	top: 50%;
	left: 1585px;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background: #111;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}

.slide>li {
	float: left;
	margin-left: 20px;
	margin-top: 40px;
	box-shadow: 0 15px 20px #bbb;
	width: 380px;
	height: 550px;
}

.slide_ul {
	width: 380px;
	height: 100%;
}

.slide_ul>li {
	width: 100%;
	height: 60%;
}

.slide_ul>li:nth-child(1) a, .slide_ul>li:nth-child(1) img {
	width: 100%;
	height: 330px;
}

.slide_ul>li:nth-child(2) {
	height: 15%;
	background: #111;
}

.slide_ul>li:nth-child(3) {
	height: 20%;
}

.slide_ul>li:nth-child(4) {
	height: 5%;
	background: #111;
}

.slide_ul>li:nth-child(2) a, .slide_ul>li:nth-child(4) span {
	color: #fff;
}



/* 모델 sns */
.media {
	position: relative;
	width: 100%;
	height: 1000px;
}

.media h2 {
	margin-bottom: 80px;
}

#button-prev_M {
	position: absolute;
	top: 430px;
	left: 460px;
	border-radius: 100%;
	margin-top: -45px;
	width: 50px;
	height: 50px;
	background: #111;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}

#button-next_M {
	position: absolute;
	top: 430px;
	left: 1393px;
	border-radius: 100%;
	margin-top: -45px;
	width: 50px;
	height: 50px;
	background: #111;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}

.media>ul {
	display: none;
	margin: auto;
	width: 816px;
	height: 612px;
}

.media>ul.activeM {
	display: block;
}

.slideM>li {
	float: left;
	margin: 2px;
	width: 200px;
	height: 200px;
}

.media a {
	display: block;
	width: 100%;
	height: 100%;
}

.media img {
	width: 100%;
	height: 100%;
	opacity: 1;
}

.media span {
	display: none;
	font-size: 38px;
	margin-top: -203px;
	line-height: 200px;
	text-align: center;
	width: 200px;
	height: 200px;
	background: gray;
	color: #fff;
}

.media img:hover ~ span {
	display: block;
}

.media img:hover {
	opacity: 0.3;
}