@charset "UTF-8";

/*media */
.ui.link.cards {margin-left: 342px;}

/*NEW MANAGEMENTS */
.container_box {margin: auto; width: 900px; height: 500px;}
/* 페이드 부분 */
.container_fade {
  position: relative;
  float:left;
  width: 300px;
}
/* 이미지 */
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_fade:hover .image {
  opacity: 0.3;
}

.container_fade:hover .middle {
  opacity: 1;
}
/* text 상자 이름 */
.text {
  background-color: #BBDEFB;
  color: white;
  font-size: 16px;
  padding: 80px 100px;
}




