body{
	width:90%;
	text-align: center;
	padding:0;
	margin:0 auto;	
}

/* 카테고리 목록 */
.model_kategorie_box{
	margin: 5% auto 2% auto;
}

.model_kategorie{
	width:35%;
	margin:0 auto 0 auto;
}

.model_kategorie_box tr th{
	width:10%;
	font-size: 13px;
	font-family: 맑은 고딕;
}

.model_kategorie_box tr th a{
	text-decoration: none; /* 밑줄 제거 */
	color:rgb(192, 192, 192);
}

.model_kategorie_box tr th a:hover{
	color: black;
}

/* 검색창 */
.model_search_bar{
	width:65%;
	margin:0 auto 1% auto; /* 위, 오른쪽, 아래, 왼쪽 */
	text-align: right;
}

/* 모델 프로필 */
.model_profile{
	width: 80%;
	margin: 0 auto 0 auto;	/* 위, 오른쪽, 아래, 왼쪽 */
	text-align: center;
	float:left;
	position:relative;
	left:8%;
}
/* 모델 프로필 사진 세팅																			 */
.model_profile li {
	width: 17%;
	margin: 5px;
	display: inline-block;
}
.model_profile li img {
	width: 218px;
	height: 218px;
	overflow: hidden
}
/* 프로필 상세보기 */
.profile_thumb {
	margin: 0 auto;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    overflow: hidden;
}
.prev {
	font-size: 24px;
    line-height: 24px;
    font-family: 'RixGo L';
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    color: #000;
    left: 50px;
}
.next {
	font-size: 24px;
    line-height: 24px;
    font-family: 'RixGo L';
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    color: #000;
    right: 50px;
}
.profile_info {
	width: 50%;
	margin: auto auto auto auto;
}
.profile_info h5 {
	font-size: 15px;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}
.profile_info ul {
	list-style: none;
    padding: 0;
    overflow: hidden;
}
.profile_info ul li {
	float: left;
    width: 25%;
    font-size: 15px;
    text-align: center;
}
.photo_button_next {
	right: 50px;
	font-family: 'RixGo L';
    font-weight: 400;
    font-size: 38px;
    position: absolute;
    top: 50%;
    margin-top: 250px;
    width: 40px;
    height: 50px;
    line-height: 50px;
    z-index: 10;
    text-align: center;
}
.photo_button_prev {
	left: 50px;
	font-family: 'RixGo L';
    font-weight: 400;
    font-size: 38px;
    position: absolute;
    top: 50%;
    margin-top: 250px;
    width: 40px;
    height: 50px;
    line-height: 50px;
    z-index: 10;
    text-align: center;
}
.show_photo img {
	width: 350px;
	height: 580px;
	overflow: hidden;
}
/* 페이지 목록  */
.model_page_box{
	width:90%;
	margin: 2.5% auto 2.5% auto; /* 위, 오른쪽, 아래, 왼쪽 */
}

.model_page_list{
	width: 30%;
	margin: 0 auto 0 auto;	/* 위, 오른쪽, 아래, 왼쪽 */
}

.model_page_number{
	text-decoration: none;
	margin: 0 3%;
	color: black;
	font-weight: bold;
}

.model_next_page{
	text-decoration: none;
	margin: 0 3%;
	color: black;
}








