@charset "utf-8";

@font-face {
	font-family: 'Arita-dotum-Medium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
/* 공통 */
#about_company, #about_ceo, #about_map {
	height: 400px;
	width: 100%;
	float: left;
	font-size: 20px;
	font-family: 'Arita-dotum-Medium';
}

/* about_company */
#about_company {
	position: relative;
	background-color: #72c1fe;
}


#about_logo_box {
	width: auto;
	height: 160px;
	float: left;
	position: absolute;
	top: 50%;
	left: 19%;
	margin-top: -80px;
}

#about_logo_box img {
	width: auto;
	height: 100%;
}

#ac_content {
	height: 100%;
	width: 60%;
	float: right;
	position: relative;
	text-align: left;
}

#ac_content_box {
	margin: 65px 0 0 65px;
	width: 65%;
	height: auto;
}

#ac_content_box>span {
	color: #333;
	font-size: 18px;
}

/* about_ceo */
#about_ceo_box {
	float: left;
	margin: 50px 0 0 320px;
	width: auto;
	height: 60px;
}

#about_ceo_box>img {
	width: auto;
	height: 100%;
}

#ceo_profile {
	height: 70%;
	width: 27%;
	float: left;
	position: relative;
	top: 15%;
}

#ceo_profile>span {
	display: block;
	text-align: right;
	font-weight: bold;
	font-size: 18px;
	color: #333;
}

#ceo_photo {
	width: 30%;
	height: 100%;
	float: right;
	position: relative;
	right: 10%;
}

/* about_map */
#about_map {
	background-color: rgba(114,193,254,0.5);;
}

#map_box {
	height: 63%;
	width: 27%;
	position: relative;
	float: left;
	top: 19%;
	left: 10%;
}

#map_content {
	height: 100%;
	width: 62%;
	float: right;
	position: relative;
}

#map_content>img {
	margin: 50px 0 0 50px;
	width: auto;
	height: 60px;
	float: left;
}

#map_content>span {
	float: left;
	margin: 80px 0 0 80px;
	text-align: left;
	color: #333;
	font-size: 18px;
}
#map_content a {
	font-weight: bold;
}