#about_company, #about_ceo, #about_map{
		height:400px;
		width:100%;
		float:left;
		border : 1px solid black;
		font-size:20px;
}
#about_company{
	background-color:black;
}
#about_logo_box{
	width: 20%;
    height: 50%;
    float: left;
    position: relative;
    top: 25%;
    left: 19%;
}
#ceo_photo{
	width: 30%;
    height: 100%;
    float: right;
    position: relative;
    right: 10%;
}
#map_box{
	height: 63%;
    width: 27%;
    position: relative;
    float:left;
    top: 19%;
    left: 10%;
}
#ac_content{
	height: 100%;
    width: 60%;
    float: right;
    position: relative;
    text-align:left;
    color:white;
    background-color:#303030;
}
#ceo_profile{
    height: 70%;
    width: 50%;
    float: left;
    position: relative;
    top: 15%;
    text-align: right;
}
#about_map{
	background-color:black;
}
#map_content{
	height: 100%;
    width: 62%;
    float: right;
    position: relative;
	background-color:#303030;
	text-align:left;
	color:white;
}