@charset "UTF-8";
.lnb ul{

}
.inb ul li{
	float: right;
	text-algn:center;
}
.lnb ul li a {
    display: block;
    font-size: 12px;
    color: #8b8b8b;
    font-family: 'Klavika Md';
    text-align: center;
    width: 103px;
    height: 28px;
    line-height: 30px;
    margin: 0 5px;
    letter-spacing: -0.05em;
}
li